<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<th:block>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HanSoyeon</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="portfolio/image/x-icon" href="portfolio/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/portfolio/css/bootstrap.min.css">
    <link rel="stylesheet" href="/portfolio/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/portfolio/css/magnific-popup.css">
    <link rel="stylesheet" href="/portfolio/css/font-awesome.min.css">
    <link rel="stylesheet" href="/portfolio/css/themify-icons.css">
    <link rel="stylesheet" href="/portfolio/css/nice-select.css">
    <link rel="stylesheet" href="/portfolio/css/flaticon.css">
    <link rel="stylesheet" href="/portfolio/css/gijgo.css">
    <link rel="stylesheet" href="/portfolio/css/animate.css">
    <link rel="stylesheet" href="/portfolio/css/slick.css">
    <link rel="stylesheet" href="/portfolio/css/slicknav.css">

    <link rel="stylesheet" href="/portfolio/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
</th:block>

<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="/portfolio/img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <!-- <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="index.html">home</a></li>
                                            <li><a href="#">project <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                        <li><a href="works_details.html">work details</a></li>
                                                        <li><a href="elements.html">elements</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div> -->
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a href="/main">View Project</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider d-flex align-items-center">
            <div class="container">
                <div class="row align-items-center position-relative">
                    <div class="col-lg-10">
                        <div class="slider_text" style="margin-left: -150px;">
                            <h3>안녕하세요, <br>
                                <span>신입개발자 한소연입니다.</span></h3>
                        <a class="boxed-btn3-line" href="#target">▶프로젝트 보러가기 </a>
                        </div>
                    </div>
                    <div class="my_img d-none d-lg-block">
                        <img src="/portfolio/img/about/my_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
	<div class="slider_bg_3">
	    <div class="download_area">
	        <div class="container">
	            <div class="row">
	                <div class="col-xl-12">
	                    <div class="download_text">
	                        <h3>감성을 움직이는 디자이너에서,<br>
	                                <span>기술의 트렌드에 적응하는 개발자로</span></h3>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-6 col-md-6">
	                    <div class="download_left">
	                        <p>새로운 기술에 대한 트렌드를 읽고 학습하는 것도 중요하지만,</br>상대방과의 소통과 협업 또한 웹 개발자의 중요한 역량이라고 생각합니다.</p>
	                        <p>사회생활을 하며 혼자 힘으로 쇼핑몰을 구현했던 경험은 많은 오류와 어려움을 겪게 해주었습니다. 하지만 문제를 해결했을 때의 성취감은 새로운 과제에 대한 용기를 가질 수 있는 터닝포인트가 되었습니다.</p>
	                        <p>이제는 팀 프로젝트를 진행하는 과정에서 배웠던 소통과 협업능력은 실무에 빠르게 적응할 수 있는 개발자로 성장하기 위한 디딤돌이 되었습니다.</p>
	                        <p style="text-align: left;">
								<a href="#" class="boxed-btn3-line" style="margin-right: 10px; margin-left: -5px">팀프로젝트 완료보고서 </br>다운받기</a>
	                        	<a href="#" class="boxed-btn3-line">웹디자이너 포트폴리오 </br>다운받기</a>
	                        </p>
	                    </div>
	                </div>
	                <div class="col-lg-5 offset-lg-1 col-md-6">
	                    <div class="progress_skills">
	                        <div class="single_progress">
	                            <div class="label d-flex justify-content-between">
	                                <span>Java</span>
	                                <span>90%</span>
	                            </div>
	                                <div class="progress">
	                                        <div class="progress-bar " role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	                                      </div>
	                        </div>
	                        <div class="single_progress">
	                                <div class="label d-flex justify-content-between">
	                                        <span>Java Script/jQuery/HTML/CSS</span>
	                                        <span>80%</span>
	                                    </div>
	                                <div class="progress">
	                                        <div class="progress-bar " role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	                                      </div>
	                        </div>
	                        <div class="single_progress">
	                                <div class="label d-flex justify-content-between">
	                                        <span>My-sql/Oracle</span>
	                                        <span>80%</span>
	                                    </div>
	                                <div class="progress">
	                                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	                                      </div>
	                        </div>
	                        <div class="single_progress">
	                                <div class="label d-flex justify-content-between">
	                                        <span>Spring Boot/Eclipse</span>
	                                        <span>100%</span>
	                                    </div>
	                                <div class="progress">
	                                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	                                      </div>
	                        </div>
	                        <div class="single_progress">
	                                <div class="label d-flex justify-content-between">
	                                        <span>cafe24/github</span>
	                                        <span>80%</span>
	                                    </div>
	                                <div class="progress">
	                                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	                                      </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    <!-- gallery_area start  -->
    <div class="gallery_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                	<a>
	                    <div class="section_title mb-50">
	                        <h3>My Works</h3>
	                    </div>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single_gallery">
                                <div class="thumb">
                                    <img src="/portfolio/img/gallery/1.png" alt="">
                                </div>
                                <div class="gallery_heading">
                                    <span>업무프로세스</span>
                                    <a href="works_details.html"><h4>모든 권한 업무흐름도 파악</h4></a>
                                </div>
                            </div>
                            <div class="single_gallery">
                                <div class="thumb">
                                    <img src="/portfolio/img/gallery/2.png" alt="">
                                </div>
                                <div class="gallery_heading">
                                    <span>DB & ERD</span>
                                    <a href="works_details.html"><h4>DB 테이블 설계 및 ERD 작업</h4></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single_gallery">
                                <div class="thumb">
                                    <img src="/portfolio/img/gallery/3.png" alt="">
                                </div>
                                <div class="gallery_heading">
                                    <span>기능 구현_1</span>
                                    <a href="works_details.html"><h4>리스트 출력</h4></a>
                                </div>
                            </div>
                            <div class="single_gallery">
                                <div class="thumb">
                                    <img src="/portfolio/img/gallery/4.png" alt="">
                                </div>
                                <div class="gallery_heading">
                                    <span>기능 구현_2</span>
                                    <a href="works_details.html"><h4>Modal을 사용한 수정 및 삭제 처리</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="more_works">
                                    <a class="boxed-btn3-line" href="/main">더 알아보기 ↗</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="more_works">
                                    <a class="boxed-btn3-line" href="/main">완료보고서 다운받기 ↓</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery_area end  -->
    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="lets_talk">
                            <h3>저의 프로젝트가 궁금하신가요?</br><a href="#">여길 눌러주세요!!</a></h3>
                            <p>프로젝트명 : 축제 통합 관리 시스템 운영 및 유지관리
                            </br>개발 목적 : 전라북도 내 행정기관 업무 관리, 통계, 사용자 프로그램 신청, 예산 편성, 축제 관련 인력 활동 관리 및 평가 지원 등 효율적 축제업무 기반을 마련하여 공무원들이 축제 업무와 현황을 조회할 수 있다.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="single_links d-flex justify-content-between align-items-center">
                            <span>팀프로젝트 완료보고서 다운로드</span>
                            <a href="#"> <i class="fa fa-dribbble"></i> </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_links d-flex justify-content-between align-items-center">
                            <span>웹 디자이너 포트폴리오 다운로드</span>
                            <a href="#"> <i class="fa fa-linkedin"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <font>portfolio by hansoyeon</font>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
    <!-- JS here -->
    <script src="/portfolio/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/portfolio/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/portfolio/js/popper.min.js"></script>
    <script src="/portfolio/js/bootstrap.min.js"></script>
    <script src="/portfolio/js/owl.carousel.min.js"></script>
    <script src="/portfolio/js/isotope.pkgd.min.js"></script>
    <script src="/portfolio/js/ajax-form.js"></script>
    <script src="/portfolio/js/waypoints.min.js"></script>
    <script src="/portfolio/js/jquery.counterup.min.js"></script>
    <script src="/portfolio/js/imagesloaded.pkgd.min.js"></script>
    <script src="/portfolio/js/scrollIt.js"></script>
    <script src="/portfolio/js/jquery.scrollUp.min.js"></script>
    <script src="/portfolio/js/wow.min.js"></script>
    <script src="/portfolio/js/nice-select.min.js"></script>
    <script src="/portfolio/js/jquery.slicknav.min.js"></script>
    <script src="/portfolio/js/jquery.magnific-popup.min.js"></script>
    <script src="/portfolio/js/plugins.js"></script>
    <!-- <script src="js/gijgo.min.js"></script> -->
    <script src="/portfolio/js/slick.min.js"></script>



    <!--contact js-->
    <script src="/portfolio/js/contact.js"></script>
    <script src="/portfolio/js/jquery.ajaxchimp.min.js"></script>
    <script src="/portfolio/js/jquery.form.js"></script>
    <script src="/portfolio/js/jquery.validate.min.js"></script>
    <script src="/portfolio/js/mail-script.js"></script>
    <script src="/portfolio/js/main.js"></script>
</body>

</html>