<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">

	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>프로그램 일자분류 신규등록</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
		프로그램 일자분류 신규등록
		
		<div>
		<a th:href="@{/pro_divList}">
		<button type="button" class="btn btn-primary btn-lg" align="right">취소</button></a>        
		<a th:href="@{/pro_divList}">
		<button type="button" class="btn btn-primary btn-lg" align="right">등록하기</button></a>        
             
        </div>
		
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
