<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<br>
<br>
<div class="col-md-12">
	<div class="content-panel">
		<div class="dataTables_filter">
			<h4 class="mb"><i class="fa fa-angle-right"></i> 조건 검색</h4>
			<label>
				이름 :
				<input type="text" aria-controls="hidden-table-info"> 
			</label>
			<label>
				권한 :
				<input type="text" aria-controls="hidden-table-info"> 
			</label>
		</div>
		<br>
		<table class="table table-striped table-advance table-hover">
		  <h4><i class="fa fa-angle-right"></i> 권한별 회원 조회 </h4>
		  <hr>
		  <thead>
		    <tr>
		      <th><i class="fa fa-bullhorn"></i> 회원코드 </th>
		      <th><i class="fa fa-question-circle"></i>모든 회원 레벨코드</th>
		      <th><i class="fa fa-question-circle"></i>권한명</th>
		      <th><i class="fa fa-bullhorn"></i> 이름 </th>
		      <th><i class="fa fa-question-circle"></i>주소</th>
		      <th><i class="fa fa-bullhorn"></i>전화번호</th>
		      <th><i class="fa fa-question-circle"></i>이메일</th>
		      <th><i class="fa fa-question-circle"></i>생년월일</th>
		      <th><i class="fa fa-question-circle"></i>가입일자</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>mem_001</td>
		      <td>level_010</td>
		      <td>개발사</td>
		      <td>송하진</td>
		      <td>나</td>
		      <td>010-1234-5679</td>
		      <td>@</td>
		      <td>1980-12-06</td>
		      <td>2019-12-06 </td>
		      <td>
		        <button class="btn btn-success btn-xs">
		        	<i class="fa fa-plus">
		        		<a href="/member/MemberLevInsert" style="color: white;">등록</a>
		        	</i>
		        </button>
		        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil">수정</i></button>
		        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o">삭제</i></button>
		      </td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>