<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">

<th:block layout:fragment="customHead">
	<meta charset="UTF-8">
	<title>관리자 계정 등록</title>
	<th:block th:include="layout/customHead"></th:block>
</th:block>

	<th:block layout:fragment="customBody">
		<div class="col-md-12">
			<div class="col-md-12">
				<form action="#" class="form-horizontal style-form">
					<div class="form-group">
						<label class="control-label col-md-3">이름</label>
						<input class="form-control form-control-inline input-medium default-date-picker" size="16" type="text">
					</div>
				</form>
			</div>
		</div>	
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
