<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle">
	<meta charset="UTF-8">
</th:block>
<th:block layout:fragment="adminisMainContents">


		<div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>공고 등록</h4>
              <hr>
				<form th:action="@{/InsertAnnouncement}" method="post">
					<table border="1">
						<tr>
							<td>ㅌㅌㅌ</td>
							<td>
								<input type="text" name="#">
							</td>
						</tr>
						<tr>
							<td>ㅌㅌㅌ</td>
							<td>
								<input type="text" name="#">
							</td>
						</tr>
						<tr>
							<td>
								<button type="submit">공고 등록</button>
							</td>
						</tr>
					</table>
				</form>	
				
				
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>