<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">

	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>일정 리스트</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
		
		
		
		<div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <h2><i class="fa fa-angle-right"></i>일정 리스트</h2>
                            <div align="right">
              <a th:href="@{/sche_insertSchedule}">
              <button type="button" class="btn btn-info" >일정 신규 등록</button></a>  
              </div>
              <hr>
              <table class="table table-striped table-advance table-hover">
                
                <thead>
                  <tr>
                    <th>거래처코드</th>
                    <th>날짜</th>
                    <th>차수</th>
                    <th>일정명</th>
                    <th>코멘트</th>
                    <th>작성일</th>
                    <th>상세확인</th>
                  </tr>
                </thead>
                <tbody>
				  <tr th:each="s:${AllSchedule}">
			 		<td th:text="${s.acc_mem_cd}"></td>
			 		<td th:text="${s.fest_sch_dt}"></td>
			 		<td th:text="${s.fest_sch_no}"></td>
			 		<td th:text="${s.fest_sche_nm}"></td>
			 		<td>코멘트달렸냐</td>
			 		<td th:text="${s.insert_dt}"></td>
	                <td><a th:href="@{/sche_detailList}" >
	                    <button type="button" class="btn btn-success btn-sm">상세</button>
	                    
	                    </a></td>     
			 	  </tr> 
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>
		
		
		
		
		
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
