<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">

	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>축제통합관리시스템</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
	<h2>
		<i class="fa fa-angle-right"></i>보유물품 대여관련 세입관리 수정
	</h2>
	<form th:action="@{/g_revenueupdata}" method="post">
		<table>
			<tr>
				<td>행정기관관리</td>	
				<td><input type="text" name="areacity_admin_cd" th:value="행정기관" readonly="readonly"></td>						
			</tr>			
			<tr>
				<td>지역관리</td>	
				<td><input type="text" name="areacity_admin_cd" th:value="전라북도" readonly="readonly"></td>						
			</tr>			
			<tr>
				<td>지역 시군관리</td>	
				<td><input type="text" name="areacity_admin_cd" th:value="전주시" readonly="readonly"></td>						
			</tr>			
			<tr>
				<td>축제관리</td>	
				<td><input type="text" name="areacity_admin_cd" th:value="소리문화축제" readonly="readonly"></td>						
			</tr>			
			<tr>
				<td>거래처관리</td>	
				<td><input type="text" name="areacity_admin_cd" ></td>						
			</tr>			
			<tr>
				<td>거래처 업종 분류</td>	
				<td><input type="text" name="areacity_admin_cd" ></td>						
			</tr>			
			<tr>
				<td>위원회관리</td>	
				<td><input type="text" name="areacity_admin_cd" ></td>						
			</tr>			
			<tr>
				<td>보유물품사용내역</td>	
				<td><input type="text" name="areacity_admin_cd"></td>						
			</tr>							
			<tr>
				<td>수량</td>	
				<td><input type="text" name="areacity_admin_cd" ></td>						
			</tr>							
			<tr>
				<td>대여료</td>	
				<td><input type="text" name="areacity_admin_cd" ></td>						
			</tr>							
			<tr>
				<td>대여자</td>	
				<td><input type="text" name="areacity_admin_cd" ></td>						
			</tr>							
			<tr>
				<td>반납유무</td>	
				<td><input type="text" name="areacity_admin_cd"></td>						
			</tr>							
			<tr>
				<td>반납예정일</td>	
				<td><input type="text" name="areacity_admin_cd" ></td>						
			</tr>							
			<tr>
				<td>반납완료일</td>	
				<td><input type="text" name="areacity_admin_cd" ></td>						
			</tr>							
			<tr>			
				<td><input type="submit" name="insertcon" value="세입물품 수정" ></td>						
			</tr>			
		</table>
	</form>	  
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
