<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle">
	<meta charset="UTF-8">
</th:block>
<th:block layout:fragment="adminisMainContents">


		<h3>위원회신청서관리</h3>
		<div align= "right">
			<a th:href="@{/insertCommitteeAppForm}">
				<button type="button" class="btn btn-default">위원회 신청하기</button>
			</a>
		</div>		
		<div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> 위원회 신청서 리스트</h4>
              <hr>
             
              <table class="table table-striped table-advance table-hover">
                
                <thead>
                  <tr>
                    <th>위원회참가신청서관리</th>
                    <th>모든 행정기관코드</th>
                    <th>모든 지역 시군코드</th>
                    <th>축제코드</th>
                    <th>모든축제공고코드</th>
                    <th>위원회코드</th>
                    <th>이름</th>
                    <th>합격여부</th>
                    <th>상세확인</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>  
               		<td>1</td>
               		<td>1</td>
               		<td>1</td>
               		<td>1</td>
               		<td>1</td>
               		<td>1</td>
               		<td>1</td>
               		<td>1</td>
			 		<td>
			 		  <a th:href="@{/committeeAppFormDetail}">
			 		  <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button></a> 
			 		</td>
			 		<td>
	                    <a th:href="@{/updatecommitteeAppForm}">
	                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
	                </td>
                    <td>
                    	<a th:href="@{/deletecommitteeAppForm}">
                    	<button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a>
                    </td>	                
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>	
	
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>