<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">

	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>축제통합관리시스템</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
		<div class="content-panel">
			<h2>
				<i class="fa fa-angle-right"></i>계약물품 납품내역 리스트
			</h2>
			<table class="table">
				
					<tr>
						<th>
						<input type="text"> 
						<input type="button" value="시군별">
						</th>
						<th>
						<input type="text">											
						<input type="button" value="축제별">
						</th>																											
					</tr>
		
					<tr>
						<th>행정기관관리</th>
						<th>지역관리</th>
						<th>지역 시군관리</th>
						<th>축제관리</th>
						<th>거래처관리</th>
						<th>거래처 업종 분류</th>
						<!-- <th>위원회관리</th> -->
						<th>계약물품날짜</th>
						<th>계약물품만료날짜</th>
						<th>계약물품내역</th>
						<th>계약물품 등록</th>
						<th>계약물품 수정</th>
					</tr>
				
					<tr>
						<th>전라북도청</th>
						<th>전라북도</th>
						<th>전주시</th>
						<th>소리문화축제</th>
						<th>주식회사 유원전력조명</th>
						<th>무대설치대행업체</th>
						<!-- <th>전주세계소리축제조직위원회</th> -->
						<th>2019-8-10</th>
						<th>2019-8-18</th>
						<th>대형조명</th>
						<th><a th:href="@{/g_delbreinsert}">계약물품 등록</a></th>
						<th><a th:href="@{/g_delbreupdata}">계약물품 수정</a></th>
					</tr>
					<tr>
						<th>전라북도청</th>
						<th>전라북도</th>
						<th>전주시</th>
						<th>소리문화축제</th>
						<th>무대 용역시험다아</th>
						<th>무대설치대행업체</th>
						<!-- <th>전주세계소리축제조직위원회</th> -->
						<th>2019-8-12</th>
						<th>2019-8-19</th>
						<th>대형조명</th>
						<th><a th:href="@{/g_delbreinsert}">계약물품 등록</a></th>
						<th><a th:href="@{/g_delbreupdata}">계약물품 수정</a></th>
					</tr>
				
			</table>
		</div>
	</th:block>
<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
