//국민화면 로그인하기
	@PostMapping("/gukminview/member/myPageView")
	public String login(Member member, HttpSession session, Model model) {
		//입력된 아이디 비밀번호
		System.out.println(member.toString() + "<--입력된 정보");
		log.error(member.toString());
		Map<String,Object> map = gmemberService.getMemberLogin(member);
		String result 		= (String) map.get("result"); 
		Member loginMember 	= (Member) map.get("loginMember");
		
		//로그인 실패 화면 login
		if(!result.equals("로그인 성공")) {
			model.addAttribute("result", result);
			return "/gukminview/login/loginForm";
		}
		session.setAttribute("SID"		, loginMember.getLoginCd());
		session.setAttribute("SLEVEL"	, loginMember.getMemLevNm());
		session.setAttribute("SNAME"	, loginMember.getMemNm());
		session.setAttribute("SPHONE"	, loginMember.getMemPhone());
		
		String nameseesion = (String) session.getAttribute("SNAME");
		System.out.println(nameseesion + "<----nameseesion 값 login 메서드 MemberController.java----------");
		model.addAttribute("Sname", nameseesion);
		
		
		//로그인 성공 화면 mypage
		return "redirect:/gukminview/member/myPageView";
	}