<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">

- 담당축제별로 화면다르게 보여야함.
- 각 항목의 코드는 안보여도 됨.
	<!-- 상단 분류조회선택버튼-->
	<div class="btn-group btn-group-justified" >
	  <div class="btn-group" id="divEntire">
	  <a th:href="@{/proDivList}">
	  	<button type="button" class="btn btn-default">분류전체</button></a>    
	  </div>
	  <div class="btn-group" id="divDay">
	    <button type="button" class="btn btn-default">일자분류</button>
	  </div>
	  <div class="btn-group" id="divPlace">
	    <button type="button" class="btn btn-default">장소분류</button>
	  </div>
	  <div class="btn-group" id="divTheme">
	    <button type="button" class="btn btn-default">성격분류</button>
	  </div>
	</div>

	<!-- 프로그램일자분류 -->
	 		<div class="col-md-12 mt">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>프로그램 일자 분류</h4>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  일자분류 신규등록
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="exampleModalCenterTitle">일자분류 신규등록</h4>
      </div>
      <div class="modal-body">
	      <form  th:action="@{/proInsertDivDay}" method="post">
	      	       <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">분류명</font></font></label>
                    <div class="col-lg-10">
                      <input class=" form-control" name="festprodivDayNm" minlength="2" type="text">
                    </div>
                  </div><br>     
		      <hr>
		      	<div align="right">
		      		<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
		        	<button type="submit" class="btn btn-primary">등록하기</button>
		      	</div>	      
	      </form>
      </div>
    </div>
  </div>
</div>  
              

              <hr>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>분류</th>
                    <th>프로그램 일자코드</th>
                    <th>프로그램 일자명</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="d:${ProDivDay}">
                    <td>FIMS일자공통</td>
                    <td th:text="${d.festprodivDayCd}"></td>
                    <td th:text="${d.festprodivDayNm}"></td>
                    <td><a th:href="@{/proUpdateDivDay}" >
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a></td>
                    <td><a th:href="@{/proDeleteDivDay}" >
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
		
	<!-- 프로그램 장소분류 -->
	 		<div class="col-md-12 mt">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>프로그램 장소 분류</h4>
              <div align="right">
              <a th:href="@{/proInsertDivPlace}" >
              <button type="button" class="btn btn-primary" align="right">신규 장소분류등록</button></a>  
              </div>
              <hr>
              <table class="table table-hover">
                
                
                <thead>
                  <tr>
                    <th>축제명</th>
                    <th>프로그램 장소코드</th>
                    <th>프로그램 장소명</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="p:${ProDivPlace}">
                    <td>[[${session.F_NM}]]</td>
                    <td th:text="${p.festprodivPlaCd}"></td>
                    <td th:text="${p.festprodivPlaNm}"></td>
					<td><a th:href="@{/proUpdateDivPlace}" >
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a></td>
                    <td><a th:href="@{/proDeleteDivPlace}" >
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
	 
	
	<!-- 프로그램 성격분류 -->
			<div class="col-md-12 mt">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>프로그램 성격 분류</h4>
              <div align="right">
              <a th:href="@{/proInsertDivTheme}" >
              <button type="button" class="btn btn-primary" align="right">신규 성격분류등록</button></a>  
              </div>
              <hr>
              <table class="table table-hover">
                
                
                <thead>
                  <tr>
                    <th>축제명</th>
                    <th>프로그램 성격코드</th>
                    <th>프로그램 성격명</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="t:${ProDivTheme}">
                    <td>[[${session.F_NM}]]</td>
                    <td th:text="${t.festprodivThemeCd}"></td>
                    <td th:text="${t.festprodivThemeNm}"></td>
					<td><a th:href="@{/proUpdateDivTheme}" >
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a></td>
                    <td><a th:href="@{/proDeleteDivTheme}" >
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>	
		

</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript">

</th:block>
</th:block>

</html>

