<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="shop.fims.gukmin.mapper.GMemberMapper">
	<resultMap type="shop.fims.vo.GMember" id="MemberResultMap">
		<result property="MemCd" column="mem_cd"/>
		<result property="MemLevCd" column="mem_lev_cd"/>
		<result property="MemNm" column="mem_nm"/>
		<result property="MemAddr" column="mem_addr"/>
		<result property="MemPhone" column="mem_phone"/>
		<result property="MemEmail" column="mem_email"/>
		<result property="MemBirth" column="mem_birth"/>
		<result property="MemJoinDt" column="mem_join_dt"/>
		<result property="LoginCd" column="login_cd"/>
		<result property="MemCd" column="mem_cd"/>
		<result property="MemLevCd" column="mem_lev_cd"/>
		<result property="LoginPw" column="login_pw"/>
		<result property="MemNm" column="mem_nm"/>
		<result property="MemLevNm" column="mem_lev_nm"/>
	</resultMap>
	
	<resultMap type="shop.fims.vo.Login" id="LoginResultMap">
		<result property="LoginCd" column="login_cd"/>
		<result property="MemCd" column="mem_cd"/>
		<result property="MemLevCd" column="mem_lev_cd"/>
		<result property="LoginPw" column="login_pw"/>
		<result property="MemNm" column="mem_nm"/>
		<result property="MemLevNm" column="mem_lev_nm"/>
	</resultMap>
	

	 <!--회원 로그인 : 아이디 = 비번 일치-->
	 <select id="getMemberLogin" resultMap="MemberResultMap">
		SELECT 
			Login.login_cd,
			Login.login_pw,
			Login.mem_nm, 
			Login.mem_lev_nm,
			Member.mem_addr, 
			Member.mem_phone, 
			Member.mem_email, 
			Member.mem_birth,
			Member.mem_join_dt
		FROM 
			Login INNER JOIN Member 
		ON 
			Login.mem_cd = Member.mem_cd
		WHERE
				login_cd = #{LoginCd}
			and login_pw = #{LoginPw}
	 </select>
	 
	 <!--회원 로그인 : 아이디 일치-->
	 <select id="getMemberById" resultMap="MemberResultMap">
		SELECT 
			Login.login_cd,
			Login.login_pw,
			Login.mem_nm, 
			Login.mem_lev_nm,
			Member.mem_addr, 
			Member.mem_phone, 
			Member.mem_email, 
			Member.mem_birth,
			Member.mem_join_dt
		FROM 
			Login INNER JOIN Member 
		ON 
			Login.mem_cd = Member.mem_cd
		WHERE
				login_cd = #{LoginCd}
	 </select>
	 
	  <select id="getUserById" parameterType="String" resultType="String">
		SELECT 
				COUNT(login_cd)
		FROM 
			Login INNER JOIN Member 
		ON 
			Login.mem_cd = Member.mem_cd
		WHERE
				login_cd = #{LoginCd}
	 </select>

	<!-- 회원가입 -->
	 <insert id="addMember" parameterType="shop.fims.vo.GMember">
		<selectKey resultType="string" keyProperty="MemCd" order="BEFORE">
			SELECT CONCAT('mem_',(SELECT LPAD(COUNT(*)+1,3,'0') FROM Member))
		</selectKey>
		
		INSERT 
		INTO 
		Member(
			  mem_cd
			, mem_lev_cd
			, mem_nm
			, mem_addr
			, mem_phone
			, mem_email
			, mem_birth
			, mem_join_dt
		)
		VALUES (
 	  		  #{MemCd}
			, #{MemLevCd}
			, #{MemNm}
			, #{MemAddr}
			, #{MemPhone}
			, #{MemEmail}
			, #{MemBirth}
			, NOW()
		)
	</insert>
	
	<insert id="addLogin" parameterType="shop.fims.vo.Login">
	INSERT 
	INTO 
	Login(
	   	  login_cd
		, mem_cd
		, mem_lev_cd
		, login_pw
		, mem_nm
		, mem_lev_nm
	)
	VALUES (
		  #{LoginCd}
		, (SELECT Max(Member.mem_cd) FROM Member)
		, #{MemLevCd}
		, #{LoginPw}
		, #{MemNm}
		, #{MemLevNm}
	)
	</insert>




</mapper>

























