<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="shop.fims.human.HumanMapper">
    <resultMap type="shop.fims.vo.Human" id="humanResultMap">
  		<result property="festNm" column="fest_nm"/>
  		<result property="workdivNm" column="feswork_div_nm"/>
  		<result property="humanNm" column="fes_human_nm"/>
   		<result property="humanPhone" column="fes_human_phone"/>
   		<result property="humanHour" column="fes_human_hour"/>
   		<result property="comNm2" column="com_mem_nm2"/>
   		<result property="humancd" column="fes_human_cd"/>  
   		<result property="mamcd" column="man_com_cd"/>		  		
  	</resultMap>
  <select id="selectHuman" resultMap="humanResultMap">
  
  		SELECT
		fest_nm,
		feswork_div_nm,
		fes_human_nm, 
		fes_human_phone, 
		fes_human_hour, 
		com_mem_nm2, 
		fes_human_cd, 
		man_com_cd 
		FROM
		Festival_Human
		
  </select>
  	<select id="selectbyHuman" resultMap="humanResultMap">
		SELECT
			fest_nm,
			feswork_div_nm,
			fes_human_nm,
			fes_human_phone,
			fes_human_hour,
			man_com_cd,
			com_mem_nm2,
			fes_human_cd
		FROM
			Festival_Human
		WHERE
			fes_human_cd=#{humancd}
	 </select>
	 

 
  </mapper>