<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="shop.fims.human.HumanMapper">
    <resultMap type="shop.fims.vo.Human" id="humanResultMap">
  		<result property="festNm" column="fest_nm"/>
  		<result property="workdivNm" column="feswork_div_nm"/>
  		<result property="humanNm" column="fes_human_nm"/>
   		<result property="humanPhone" column="fes_human_phone"/>
   		<result property="humanHour" column="fes_human_hour"/>
   		<result property="comNm2" column="com_mem_nm2"/>
   		<result property="humanCd" column="fes_human_cd"/>  
   		<result property="mamCd" column="man_com_cd"/>
   		<result property="staNm" column="fac_sta_nm"/> 
   		<result property="staCd" column="fac_sta_cd"/>
   		<result property="memNm" column="mem_nm"/>
   		<result property="memAddr" column="mem_addr"/>
   		<result property="memPhone" column="mem_phone"/>
   		<result property="memEmail" column="mem_email"/>
   		<result property="memBirth" column="mem_birth"/>
   		<result property="joinDt" column="mem_join_dt"/>
   		<result property="loginCd" column="login_cd"/>
   		<result property="levNm" column="mem_lev_nm"/>	
  	</resultMap>
  	<!--인적리스트조회-->
  <select id="selectHuman" resultMap="humanResultMap">
		SELECT
			fh.fest_cd,
			fh.feswork_div_nm,
			fh.fes_human_nm,
			fh.fest_nm,
			fh.fes_human_phone, 
			fh.fes_human_hour, 
			mc.com_mem_nm2, 
			fh.fes_human_cd, 
			mc.man_com_cd,
			fh.fac_sta_cd,
			fh.fac_sta_nm
		FROM
			Festival_Human AS fh
			JOIN 
			Man_Com AS mc
			ON fh.man_com_cd = mc.man_com_cd
				
  </select>
  <!--인적수정화면-->
  	<select id="selectbyHuman" resultMap="humanResultMap">
		SELECT
			fh.fest_nm,
			fh.feswork_div_nm,
			fh.fes_human_nm,
			fh.fes_human_phone,
			fh.fes_human_hour,
			mc.man_com_cd,
			mc.com_mem_nm2,
			fh.fes_human_cd
		FROM
			Festival_Human AS fh
			JOIN Man_Com AS mc ON fh.man_com_cd = mc.man_com_cd
		WHERE
			fh.fes_human_cd=#{humanCd}
	 </select>
 <!--인적사항상세조회-->
  </mapper>