<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="shop.fims.program.ProgramMapper">
  
<select id="searchParticipant" resultType="shop.fims.vo.ProParticipants">
SELECT
	f.*
FROM
	(
	SELECT
	a.festpro_spro_nm
	,b.fest_pro_nm
	,c.*
	from
	Fest_Pro_sPro AS a,
	Fest_Program AS b,
	Fest_Pro_participants AS c
	where a.fest_pro_cd=b.fest_pro_cd
	AND c.festpro_spro_cd=a.festpro_spro_cd
	)AS f 
	where f.fest_cd=(#{fest_cd})
	<trim prefixOverrides="and">
		<if test="fest_pro_nm neq null and fest_pro_nm neq ''.toString()">
			and f.fest_pro_nm like CONCAT ('%',#{fest_pro_nm},'%') 
		</if>
		<if test="festpro_spro_nm neq null and festpro_spro_nm neq ''.toString()">
			and f.festpro_spro_nm like CONCAT ('%',#{festpro_spro_nm},'%') 
		</if>
		<if test="festpro_par_nm neq null and festpro_par_nm neq ''.toString()">
			and f.festpro_par_nm like CONCAT ('%',#{festpro_par_nm},'%') 
		</if>
		<if test="festpro_par_gender neq null and festpro_par_gender neq ''.toString()">
			and f.festpro_par_gender=#{festpro_par_gender}
		</if>
		<if test="festpro_par_phone neq null and festpro_par_phone neq ''.toString()">
			and f.festpro_par_phone like CONCAT ('%',#{festpro_par_phone},'%') 
		</if>
	</trim>
</select>
  
  
<!-- 세부프로그램 다섯가지 조건검색  -->
  	<select id="searchSpro" resultType="shop.fims.vo.ProSpro">
		SELECT
			a.fest_pro_nm
			,b.*
			from
		Fest_Program AS a
		INNER JOIN 
		Fest_Pro_sPro AS b
		ON a.fest_pro_cd=b.fest_pro_cd
 		<trim prefix="WHERE" prefixOverrides="and">
 			<if test="fest_pro_nm neq null and fest_pro_nm neq ''.toString()">
 				fest_pro_nm like CONCAT ('%',#{fest_pro_nm},'%') 
 			</if>
 			<if test="festpro_spro_nm neq null and festpro_spro_nm neq ''.toString()">
 				and festpro_spro_nm like CONCAT ('%',#{festpro_spro_nm},'%') 
 			</if>
 		</trim>
  	</select>  
  
  
  
<!-- 프로그램코드로 상세조회 -->
  	<select id="selectByProcd" resultType="shop.fims.vo.Program">
	SELECT
		f.fest_nm
		,fg.*
	FROM
		Festival AS f
		INNER JOIN
		Fest_Program AS fg
		ON
		f.fest_cd=fg.fest_cd
	where fest_pro_cd=(#{fest_pro_cd})
  	</select>  
  
  
  
<!--  세부프로그램조회 -->
  <select id="selectAllSpro" resultType="shop.fims.vo.ProSpro">
  	SELECT
  		b.fest_pro_nm
		,a.*
	FROM 
	Fest_Pro_sPro AS a
	INNER join
	Fest_Program AS b
	ON a.fest_pro_cd=b.fest_pro_cd
	WHERE b.fest_cd=(#{fest_cd})
  </select>
  
  
  
<!--   대프로그램조회 -->
  <select id="selectAllPro" resultType="shop.fims.vo.Program">
  	SELECT
		*
	FROM 
		Fest_Program
	WHERE fest_cd=(#{fest_cd})
  </select>


<!-- 프로그램 참가자조회 -->
  <select id="selectAllParticipants" resultType="shop.fims.vo.ProParticipants" >
	SELECT
		a.festpro_spro_nm
		,b.fest_pro_nm
		,c.*
	from
		Fest_Pro_sPro AS a,
		Fest_Program AS b,
		Fest_Pro_participants AS c
	where a.fest_pro_cd=b.fest_pro_cd
		AND c.festpro_spro_cd=a.festpro_spro_cd
		AND c.fest_cd=(#{fest_cd})
  </select>  
  
  
<!-- 프로그램 성격분류조회 -->
  <select id="selectAllDivTheme" resultType="shop.fims.vo.ProDivTheme" >
	SELECT
		festprodiv_theme_cd
		,areacity_admin_cd
		,area_city_cd
		,area_cd
		,fest_cd
		,fest_nm
		,festprodiv_theme_nm
	FROM
		Fest_Pro_Div_Theme
	WHERE fest_cd=(#{fest_cd})
	
  </select>  
  
  
<!-- 프로그램 장소분류조회   -->
  <select id="selectAllDivPlace" resultType="shop.fims.vo.ProDivPlace" >
	SELECT
		festprodiv_pla_cd
		,areacity_admin_cd
		,area_city_cd
		,area_cd
		,fest_cd
		,fest_nm
		,festprodiv_pla_nm
	FROM
		Fest_Pro_Div_Place
	WHERE fest_cd=(#{fest_cd})	
</select>


<!-- 프로그램 일자분류조회 -->
 <select id="selectAllDivDay" resultType="shop.fims.vo.ProDivDay" >
	SELECT
	festprodiv_day_cd
	,festprodiv_day_nm
	FROM
	Fest_Pro_Div_Day
</select>
  

  
  </mapper>