<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="shop.fims.publicrelations.PublicrelationsMapper">
  

<!-- 홍보 분류 resultMap -->
	<resultMap type="shop.fims.vo.PrDiv" id="prDivResultmap">
		<result property="festprDivCd" column="festpr_div_cd"/>
		<result property="festprDivNm" column="festpr_div_nm"/>
	</resultMap>  


<!-- 홍보  resultMap -->
	<resultMap type="shop.fims.vo.PrPromotion" id="prPromotionResultmap">
		<result property="festprProCd" column="festpr_pro_cd"/>
		<result property="festprDivNm" column="festpr_div_nm"/>
		<result property="areacityAdminCd" column="areacity_admin_cd"/>
		<result property="areaCd" column="area_cd"/>
		<result property="areaCityCd" column="area_city_cd"/>
		<result property="festCd" column="fest_cd"/>
		<result property="festprDivCd" column="festpr_div_cd"/>
		<result property="manComCd" column="man_com_cd"/>
		<result property="accMemCd" column="acc_mem_cd"/>
		<result property="fesrevBudCd" column="fesrev_bud_cd"/>
		<result property="catAccCd" column="cat_acc_cd"/>
		<result property="festTitle" column="fest_title"/>
		<result property="festprProNm" column="festpr_pro_nm"/>
		<result property="festprProDetail" column="festpr_pro_detail"/>
		<result property="fprproOrderDt" column="fprpro_order_dt"/>
		<result property="fprproStartDt" column="fprpro_start_dt"/>
		<result property="fprproEndDt" column="fprpro_end_dt"/>
		<result property="festprProPlace" column="festpr_pro_place"/>
		<result property="festprProAmt" column="festpr_pro_amt"/>
		<result property="festprProAttach" column="festpr_pro_attach"/>
		<result property="groupCd" column="group_cd"/>
		<result property="actionDt" column="action_dt"/>
		<result property="actionStatus" column="action_status"/>
		<result property="festprProExpense" column="festpr_pro_expense"/>
		<result property="festprProEtc" column="festpr_pro_etc"/>
		<result property="insertDt" column="insert_dt"/>
	</resultMap>  


<!-- 이벤트당첨자  resultMap -->
	<resultMap type="shop.fims.vo.EventWinner" id="eventWinnerResultmap">
		<result property="festprEveCd" column="festpr_eve_cd"/>
		<result property="festprProNm" column="festpr_pro_nm"/>
		<result property="areacityAdminCd" column="areacity_admin_cd"/>
		<result property="areaCd" column="area_cd"/>
		<result property="areaCityCd" column="area_city_cd"/>
		<result property="festCd" column="fest_cd"/>
		<result property="festprProCd" column="festpr_pro_cd"/>
		<result property="manComCd" column="man_com_cd"/>
		<result property="festTitle" column="fest_title"/>
		<result property="festprEveNm" column="festpr_eve_nm"/>
		<result property="festprEvePhone" column="festpr_eve_phone"/>
		<result property="festprEveAddr" column="festpr_eve_addr"/>
		<result property="festpreveDeliDt" column="festpreve_deli_dt"/>
		<result property="festprEveNo" column="festpr_eve_no"/>
		<result property="festprEveEtc" column="festpr_eve_etc"/>
		<result property="insertDt" column="insert_dt"/>
	</resultMap>  
  
<!-- 프로모션코드로 이벤트 당첨자조회   -->
	<select id="selectEventWinnerByPmcd" resultMap="eventWinnerResultmap">
	SELECT
		pm.festpr_pro_nm
		,ev.*
	FROM
		Fest_PR_Promotion AS pm
		INNER JOIN
		Fest_PR_Eventwinner AS ev
		ON
		pm.festpr_pro_cd=ev.festpr_pro_cd
	where ev.festpr_pro_cd=(#{festprProCd})	
	
	</select>
  	
  	<!-- 프로모션코드로 프로모션상세조회 -->
  	<select id="selectByPmcd" resultMap="prPromotionResultmap">
	SELECT
		pd.festpr_div_nm
		,pm.*
	FROM
		Fest_PR_Div AS pd
		INNER JOIN
		Fest_PR_Promotion AS pm
		ON
		pd.festpr_div_cd=pm.festpr_div_cd
	WHERE pm.festpr_pro_cd=(#{festprProCd})	
  	</select>
  	
  	
  	<!-- 홍보상세조회 -->
  	<select id="selectAllPromotion" resultMap="prPromotionResultmap">
	SELECT
		pd.festpr_div_nm
		,pp.*
	FROM
		Fest_PR_Div AS pd
		INNER JOIN
		Fest_PR_Promotion AS pp
		ON
		pd.festpr_div_cd=pp.festpr_div_cd
	WHERE fest_cd=(#{festCd})	
  	</select>
  	
  	
  	<!-- 홍보분류조회 -->
  	<select id="seletAllPrDiv" resultMap="prDivResultmap">
  	SELECT
		festpr_div_cd
		,festpr_div_nm
	FROM
		Fest_PR_Div
  	</select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  </mapper>