<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="shop.fims.publicrelations.PublicrelationsMapper">
  
  
<!-- 프로모션코드로 이벤트 당첨자조회   -->
	<select id="selectEventWinnerByPmcd" resultType="shop.fims.vo.EventWinner">
	SELECT
		pm.festpr_pro_nm
		,ev.*
	FROM
		Fest_PR_Promotion AS pm
		INNER JOIN
		Fest_PR_Eventwinner AS ev
		ON
		pm.festpr_pro_cd=ev.festpr_pro_cd
	where ev.festpr_pro_cd=(#{festpr_pro_cd})	
	
	</select>
  	
  	<!-- 프로모션코드로 프로모션상세조회 -->
  	<select id="selectByPmcd" resultType="shop.fims.vo.PrPromotion">
	SELECT
		pd.festpr_div_nm
		,pm.*
	FROM
		Fest_PR_Div AS pd
		INNER JOIN
		Fest_PR_Promotion AS pm
		ON
		pd.festpr_div_cd=pm.festpr_div_cd
	WHERE pm.festpr_pro_cd=(#{festpr_pro_cd})	
  	</select>
  	
  	
  	<!-- 홍보상세조회 -->
  	<select id="selectAllPromotion" resultType="shop.fims.vo.PrPromotion">
	SELECT
		pd.festpr_div_nm
		,pp.*
	FROM
		Fest_PR_Div AS pd
		INNER JOIN
		Fest_PR_Promotion AS pp
		ON
		pd.festpr_div_cd=pp.festpr_div_cd
  	</select>
  	
  	
  	<!-- 홍보분류조회 -->
  	<select id="seletAllPrDiv" resultType="shop.fims.vo.PrDiv">
  	SELECT
		festpr_div_cd
		,festpr_div_nm
	FROM
		Fest_PR_Div
  	</select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  </mapper>