<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<head th:replace="fragments/gukmin/ebudget/ebudgethead :: ebudgetHeadFragment"></head>
<body>

	<header th:replace="fragments/gukmin/ebudget/ebudgetmainheader :: ebudgetHeaderFragment"> </header>
	
		<th:block layout:fragment="ebudgetMainContents"></th:block>
			
	 <footer th:replace="fragments/gukmin/ebudget/ebudgetfooter :: ebudgetFooterFragment"></footer>

</body>

</html>