<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">
 
	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>축제통합관리시스템</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
	
	<div class="content-panel">
	   <h2><i class="fa fa-angle-right"></i>보유물품 리스트</h2>	
			<table class="table">
				<thead>
					<tr>
					<th>모든 행정기관관리</th>
					<th>전국 지역관리</th>
					<th>모든 지역 시군관리</th>
					<th>모든 축제관리</th>
					<th>거래처관리</th>
					<th>거래처 업종 분류</th>
					<th>위원회관리</th>
					<th>보유물품사용내역</th>
					<th>수량</th>
					<th>대여료</th>
					<th>대여자</th>
					<th>반납유무</th>
					<th>반납예정일</th>
					<th>반납완료일</th>
					<th>계약물품 등록</th>
					<th>계약물품 수정</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th>전라북도청</th>
					<th>전라북도</th>
					<th>전주시</th>
					<th>소리문화축제</th>
					<th>주식회사 유원전력조명</th>
					<th>무대설치대행업체</th>
					<th>전주세계소리축제조직위원회</th>
					<th>테이블</th>
					<th>10</th>
					<th>4000</th>
					<th>김홍수</th>
					<th>무</th>
					<th>2019-5-20</th>
					<th>2019-5-20</th>
					<th><a th:href="${g_revenuelistinsert}">계약물품 등록</a></th>
					<th><a th:href="${#}">계약물품 수정</a></th>
				</tr>
				</tbody>							
			</table>
		</div>		
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
