<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
<h2>
					<i class="fa fa-angle-right"></i>전체심사
				</h2>
	<div class="row mt">
		<div class="col-md-12">
			<div class="content-panel" style="padding: 20px;">
				
					<h2>
						<i class="fa fa-angle-right"></i>심사대기
					</h2>
					
						<table class="table" >
							<tr>
								<th>모든 행정기관관리</th>
								<th>전국 지역관리</th>
								<th>모든 지역 시군관리</th>
								<th>모든 축제관리</th>
								<th>심사 제목</th>
								<th>심사일자</th>
								<th>심사현황</th>
								<th>심사하기</th>
							</tr>
							<tr th:each="e : ${estimatelist}" >
							<th:block th:if="${e.exaCondition} == N" >						
								<th th:text="${e.areaNm}"></th>
								<th th:text="${e.areaCityNm}"></th>
								<th th:text="${e.areacityAdminNm}"></th>
								<th th:text="${e.festNm}"></th>
								<th th:text="${e.evaNm}" class="evanm"></th>
								<th th:text="${e.exaDt}"></th>
								<th th:text="${e.exaCondition}" class="exaCondition"></th>								
								<th:block th:if="${session.SID eq 'id003'}">
								<th>
								<a th:href="@{/apply(exaRepCd=${e.exaRepCd})}" >  
  			 		 			 <button id="bbts" class="btn btn-success btn-xs" ><i class="fa fa-check">심사</i></button> 
  			 		 			 </a>
								</th>
  			 		 			 </th:block>	
							</th:block>																				
							</tr>
						</table>
		
				<h2>
					<i></i>
				</h2>
				<div class="content-panel" style="padding: 20px;">
					<h2>
						<i class="fa fa-angle-right" ></i>심사 완료
					</h2>
				
						<table class="table" style="padding: 20px;">
							<tr>
								<th>모든 행정기관관리</th>
								<th>전국 지역관리</th>
								<th>모든 지역 시군관리</th>
								<th>모든 축제관리</th>
								<th>심사 제목</th>
<!-- 								<th>심사 분류</th> -->
								<th>심사일자</th>
								<th>심사현황</th>
								<th>담당자</th>
								<th>상세보기</th>
							</tr>
						<tr th:each="e : ${estimatelist}" >
							<th:block th:if="${e.exaCondition} == Y" >						
								<th th:text="${e.areaNm}"></th>
								<th th:text="${e.areaCityNm}"></th>
								<th th:text="${e.areacityAdminNm}"></th>
								<th th:text="${e.festNm}"></th>
								<th th:text="${e.evaNm}"></th>
								<th th:text="${e.exaDt}"></th>
								<th th:text="${e.exaCondition}" ></th>								
								<th th:text="${e.exeManager}"></th>
								<th>			
 			 					<a th:href="@{/estimatelistdetail(exa_rep_cd=${e.exaRepCd})}">
 			 					  <button class="btn btn-success btn-xs"><i class="fa fa-check">상세보기</i></button> 
 			 					</a>	
								</th>
								<th:block></th:block>
							</tr>
					</table>
					
					
<!-- 					<div class="dataTables_paginate paging_bootstrap pagination"> -->
<!--               	<ul> -->
<!--               		<li class="prev disabled"> -->
<!-- 		              	이전 -->
<!-- 						<a th:if="${currentPage > 1}"  -->
<!-- 						th:href="@{/committeeAppFormView(currentPage=${currentPage - 1})}">이전</a> -->
<!-- 					</li>	 -->
<!-- 					<li class="active">	 -->
<!-- 						<th:block th:each="num:${#numbers.sequence(startPageNum,lastPageNum)}"> -->
<!-- 								<a th:if="${currentPage == num}"  -->
<!-- 								th:text="${num}"></a>	 -->
<!-- 								<a style="color: black; background-color: white"th:unless="${currentPage == num}"  -->
<!-- 								th:text="${num}"  -->
<!-- 								th:href="@{/committeeAppFormView(currentPage=${num})}"></a> -->
<!-- 						</th:block> -->
<!-- 					</li>	 -->
<!-- 					<li class="next">	 -->
<!-- 						다음 -->
<!-- 						<a th:if="${currentPage < lastPage}"  -->
<!-- 						th:href="@{/committeeAppFormView(currentPage=${currentPage + 1})}">다음</a> -->
<!-- 					</li>	 -->
<!-- 				</ul> -->
<!-- 				<ul> -->
<!-- 					<th> -->
<!-- 					</th> -->
<!-- 				</ul> -->
<!-- 			</div>	

					 -->
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

<script type="text/javascript">
// 	$(document).ready(function(){
// 		$(document).on('click','#bbts',function(){
// 			var cotent = '';
// 			var evn = $('.evanm').val
// 			console.log(evn)
// 			if(evn == '축제 평가위원회 심사'){
// 				cotent += '	<a th:href="@{/apply(exaRepCd=${e.exaRepCd})}" >'
// 				cotent += '	</a>'
				
// 			}else if(evn =='부스 심사'){
// 				cotent += '	<a th:href="@{/booth(exaRepCd=${e.exaRepCd})}" >'
// 				cotent += '	</a>'			
// 			}
// 		})
		
		
// 	});
	
</script>

</html>
