<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">

	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>보유물품 대여관리 - 세입상세</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	
	
	<th:block layout:fragment="customBody">
	<a th:href="@{/estimatelist}">
		<button type="button" class="btn btn-default">리스트로 돌아가기</button>
	</a>
	
	
	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
					<h4>
						<span ><i class="fa fa-angle-right"></i></span>심사결과 상세보기
					</h4>
				<th:block >
					<br>
					<section id="unseen">
						<table class="table table-bordered table-striped table-condensed">
							<thead>
								<tr>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
									
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
								</tr>
							</tbody>
							<thead>
								<tr>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
									
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
								</tr>
							</tbody>
							<thead>
								<tr>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
									
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
								</tr>
							</tbody>
							<thead>
								<tr>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
									
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
									<th>축제코드</th>
								</tr>
							</tbody>
							
							
						</table>
					</section>
				</th:block>
			</div>
			<!-- /content-panel -->
		</div>
		<!-- /col-lg-4 -->
	</div>
	
	
	
</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
