<!-- HTML5 사용을 위해서 선언해주는 부분 (건들필요없어)-->
<!DOCTYPE html>

<!-- 레이아웃을 구성하기 위해서 설정되는 부분 (건들필요없어) -->
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<!-- 사용자 타이틀 설정부분 -->
<th:block layout:fragment="adminisTitle">
<title>심사페이지</title>
</th:block>

<!-- 관리자css -->
<th:block layout:fragment="adminisCss"></th:block>

<!-- 본격적으로 페이지 중요 내용이 들어갈 부분 -->
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
			
				<script type="text/javascript">														
					$(function() {
						$("#click").click(function() {
							$.ajax({
								type : 'post',
								url : '/list.html',
								dataType : 'html',
								success : function(data) {
									$("#listDiv").html(data);
								}
							});
						})
					})
				</script>
				<br>
				<h2>
					<i class="fa fa-angle-right"></i>심사
				</h2>
				담당자:<input type="text" name="exe_manager"> 
				<select id="evaindexid">
					<option id="click">::심사 선택::</option>
					<option value="eva_index_1">축제 추진위원회 심사</option>
					<option value="eva_index_2">축제 평가위원회 심사</option>
					<option value="eva_index_3">부스 심사</option>
					<option value="eva_index_4">대행업체(용역) 심사</option>
					<option value="eva_index_5">축제 내 프로그램 심사</option>
					<option value="eva_index_6">자원봉사자 심사</option>
					<option value="eva_index_7">홍보 관련 심사</option>
					<option value="eva_index_8">축제 설문지 조사</option>
					<option value="eva_index_9">지역축제 공동 평가지표</option>
				</select>
				<th:block th:each="e:${examinateionidex}">
					
					<table class="table table-bordered table-striped table-condensed">

						<tr>
							<th colspan="5">행정기관코드</th>
							<th colspan="5">전국지역코드</th>
							<th colspan="5">지역 시군코드</th>
							<th colspan="5">축제코드</th>
						</tr>

						<tr>

							<td th:text="${e.evaNm}" colspan="5"></td>

						</tr>

					</table>


				</th:block>
				<div align="right">
					<div>
						<a th:href="@{/estimatelist}">
							<button type="button" class="btn btn-primary btn-lg">취소</button>
						</a> <a th:href="@{/estimatelist}">
							<button type="button" class="btn btn-primary btn-lg">심사완료</button>
						</a>

					</div>
				</div>
			</div>
			<!-- /content-panel -->
		</div>
		<!-- /col-lg-4 -->
	</div>
</th:block>

<!-- 사용자 스크립트 추가 할 수 있는 부분 -->
<th:block layout:fragment="adminisScript">
	
	<!-- 공통스크립트 -->
	<th:block th:include="fragments/adminis/adminisscript"></th:block>
	
	<!-- 사용자 스크립트 -->
	<script type="text/javascript">
	$(document).ready(function(){
		$(document).on('change', '#evaindexid', function(){
			// 셀렉트 된 값을 stnId 변수에 대입
			var stnId = $(this).val();
			
			$.ajax({
				url :'/test',
				type : 'post',
				data : {'stnId' : stnId},
				dataType : 'json',
				success : function(result) {
					console.log(result);
				},
				error : function(result) {
					console.log('error');
				}
			});
		});
	});
	</script>
</th:block>
</html>