<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">

	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>축제관련상품입고리스트</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
		
		
		<h2>축제관련상품입고리스트</h2>
		
		<table border="1px">
	 	<tr>
	 		<td>물품명</td>
	 		<td>수량</td>
	 		<td>수정</td>
	 		<td>삭제</td>
	 	</tr>
	 	<tr th:each="i:${GoodsIn}"}>
	 		<td th:text="${i.festgoods_in_nm}"></td>
	 		<td th:text="${i.festgoods_in_amt}"></td>
	 		<td><a>수정</a></td>
	 		<td><a>삭제</a></td>

	 	</tr>
	 </table>	
		
		
		
		
		
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
