<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">

	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>물품 입고상세내역</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
	
		<a th:href="@{/g_festivalInList}">
		<button type="button" class="btn btn-default" >리스트로 돌아가기</button>
		</a>
		
		
		<div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
            <th:block th:each="d:${GoodsInDetail}">
              <h4>입고상세내역</h4><br>
              <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr >
                      <th colspan="4">축제명</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <td th:text="${d.fest_nm}" colspan="5"></td>
                    </tr>
                  </tbody>
                   <thead>
                    <tr>
                      <th colspan="2">부서명</th>
                      <th>위원회코드</th>
                      <th>작성일</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2">무슨무슨부</td>
                      <td th:text="${d.man_com_cd}" ></td>
                      <td th:text="${d.insert_dt}" ></td>
                    </tr>
                  </tbody>
                   <thead>
                    <tr>
                      <th colspan="4">거래처코드</th>                    
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td th:text="${d.cat_acc_cd}" colspan="4"></td>
                    </tr>
                  </tbody>
                   <thead>
                    <tr>
                      <th colspan="2">대분류</th>
                      <th colspan="2">소분류</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td th:text="${d.festgoods_ldiv_cd}" colspan="2"></td>
                      <td th:text="${d.festgoods_sdiv_cd}" colspan="2" ></td>
                    </tr>
                  </tbody>
                   <thead>
                    <tr>
                      <th colspan="2">상품명</th>
                      <th colspan="2">수량</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td th:text="${d.festgoods_in_nm}" colspan="2"></td>
                      <td th:text="${d.festgoods_in_amt}" colspan="2"></td>
                    </tr>
                  </tbody>
                   <thead>
                    <tr>
                      <th>계약금액</th>
                      <th>마감여부</th>
                      <th>마감하기</th>
                      <th>마감일자</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td th:text="${d.festgoods_expense}"></td>
                      <td th:text="${d.action_status}" ></td>
                      <td><a>마감하기</a></td>
                      <td th:text="${d.action_dt}" ></td>
                    </tr>
                  </tbody>
                   <thead>
                    <tr>
                      <th colspan="4">입고목적</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td th:text="${d.festgoods_in_detail}" colspan="4"></td>
                    </tr>
                  </tbody>
                </table>
              </section>
              </th:block>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-lg-4 -->
        </div>
        <div align="right">
		<a th:href="@{/g_updateFestivalIn}">
		<button type="button" class="btn btn-primary">수정하기</button></a>
		<a th:href="@{/g_deleteFestivalIn}">
		<button type="button" class="btn btn-danger">삭제하기</button></a>
		</div>
		
		
		
		
		
		
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
