<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
<th:block th:each="u : ${updatecondition}">
	 <h4><i class="fa fa-angle-right"></i>물품 수정하기 </h4><br>	 	
		 <div class="form-panel">
              <div class="form">
                <form th:action="@{/updateCondition}" method="post" class="cmxform form-horizontal style-form" id="commentForm">
                  <div>
                  <input type="hidden" th:value="${u.goodspreConCd}" name="goodspreConCd">
                  </div>             
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">행정기관명</label>
                    <div class="col-lg-10">
                      <input class=" admAgeNm" id="admAgeNm" type="text" name="admAgeNm" th:value="${u.admAgeNm}" readonly/>
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">전국 지역명</label>
                    <div class="col-lg-10">
                      <input class=" areaCityNm" id="areaCityNm" type="text" name="areaCityNm" th:value="${u.areaCityNm}" readonly/>
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">모든 지역 시군명</label>
                    <div class="col-lg-10">
                      <input class=" areacityAdminNm" id="areacityAdminNm" type="text" name="areacityAdminNm" th:value="${u.areacityAdminNm}" readonly/>
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">모든 축제이름</label>
                    <div class="col-lg-10">
                      <input class=" festNm" id="festNm" type="text" name="festNm" th:value="${u.festNm}" readonly/>
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">모든 행정기관 부서명</label>
                    <div class="col-lg-10">
                      <input class=" admimDepNm" id="admimDepNm" type="text" name="admimDepNm" th:value="${u.admimDepNm}" readonly/>
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">보유물품</label>
                    <div class="col-lg-10">
                      <input class=" goodsNm" id="goodsNm" type="text" name="goodsNm" th:value="${u.goodsNm}" />
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">수량</label>
                    <div class="col-lg-10">
                      <input   class=" goodsAmt" id="goodsAmt" type="text" name="goodsAmt" th:value="${u.goodsAmt}"/>
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">특이사항</label>
                    <div class="col-lg-10">
                      <textarea rows="3" cols="100" class="specialNote " id="specialNote" name="specialNote" >[[${u.specialNote}]]</textarea>
                    </div>
                  </div>   
                  <div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button class="btn btn-theme" type="submit" value="물품수정">물품수정</button>
					</div>
				  </div>                             
                </form>
              </div>
           </div>
</th:block>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>
