<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/gukmin/gukmindefault}">

<th:block layout:fragment="gukminMainContents">

<form id="registerform" name="registerform" th:action="@{/gukminview/member/memberRegisterForm}" method="post">
	<input type="hidden" name="membertype" value="1" id="membertype"/>
	<input type="hidden" name="hosttype" value="1" id="hosttype"/>
	<input type="hidden" name="MemCd">
	<input type="hidden" name="MemLevCd" value="level_013">
	<input type="hidden" name="MemLevNm" value="국민">
	<section>
		<div class="mypDesc">
			<p class="t01">회원정보</p>
			<p class="t02">아래의 회원유형을 선택하신 후 회원가입을 진행해 주시기 바랍니다.</p>
		</div>
		<div class="norBox">
			<div class="myinfoBox">
				<div class="fl">
					<p class="item">회원유형</p>
					<ul>
						<li class="indi"><a href="javascript:void(0)"
							onclick="javascript:$('#membertype').val('1');" class="on">개인</a></li>
						<li class="host"><a href="javascript:void(0)"
							onclick="javascript:$('#membertype').val('2'); alert('구현중입니다.')">기업</a></li>
					</ul>
				</div>
				<div class="fr">
					<div id="indi">
						<p class="item">회원정보</p>
						<table class="writeTable t01">
							<colgroup>
								<col width="120" />
								<col width="" />
							</colgroup>
							<tr>
								<th>이름</th>
								<td>
									<div class="form">
										<input type="text" id="GMemNm" name="MemNm"
											class="inp" placeholder="이름" />
									</div>
								</td>
							</tr>
							<tr>
								<th>아이디</th>
								<td>
									<div class="form">
										<input type="text" class="inp echeck" id="GLoginCd"
											name="LoginCd" placeholder="아이디" /> <button
											type="button" id="idcheck"
											class="btnEtc02">중복확인</button>
									</div>
								</td>
							</tr>
							<tr>
								<th>비밀번호</th>
								<td>
									<div class="form">
										<input type="password" id="GLoginPw"
											name="LoginPw" class="inp"
											placeholder="비밀번호를 입력해주세요" />
									</div>
								</td>
							</tr>
							<tr>
								<th>비밀번호 확인</th>
								<td>
									<div class="form">
										<input type="password" id="GLoginPwCheck"
											class="inp"
											placeholder="비밀번호를 한번 더 입력해 주세요." />
									</div>
								</td>
							</tr>
							<tr>
								<th>전화번호</th>
								<td>
									<div class="form">
										<select class="select w60" id="PhoneFirst"
											name="GPhoneFirst">
											<option value="">선택</option>
											<option value="010">010</option>
											<option value="011">011</option>
											<option value="016">016</option>
											<option value="017">017</option>
											<option value="019">019</option>
										</select> <span class="etxt">-</span> 
										<input type="text"
											id="GPhoneMiddle" name="PhoneMiddle" class="inp w60" />
										<span class="etxt">-</span> <input type="text"
											id="GPhoneLast" name="PhoneLast" class="inp w60" />
									</div>
								</td>
							</tr>
							<tr>
								<th>주소</th>
								<td>
								<div class="form">
									<input type="text" id="GMemAddr" name="MemAddr"	class="inp echeck" />
										<a href="javascript:void(0)" id="addresssearchbutton"
										onclick="address_execDaumPostcode()" class="btnEtc02">주소찾기</a>
								</div>
								
								</td>
							</tr>
							<tr>
								<th>이메일</th>
								<td>
									<div class="form">
										<input type="email" id="GMemEmail" name="MemEmail"
											class="inp" placeholder="이메일" />
									</div>
								</td>
							</tr>
							<tr>
								<th>생년월일</th>
								<td>
									<div class="form">
									<input type="text"
											id="GBirthYear" name="BirthYear" class="inp w60" placeholder="년(4자)" maxlength="4"/>
									<span class="etxt">-</span>		
										<select class="select w60" id="GBirthMonth" name="BirthMonth"
											>
											<option value="">월</option>
											<option value="01">01</option>
											<option value="02">02</option>
											<option value="03">03</option>
											<option value="04">04</option>
											<option value="05">05</option>
											<option value="06">06</option>
											<option value="07">07</option>
											<option value="08">08</option>
											<option value="09">09</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
										</select> 
										<span class="etxt"></span> 
										<span class="etxt">-</span> 
										<input type="text" name="BirthDay"
											id="GBirthDay" class="inp w60" placeholder="일" maxlength="2"/>
									</div>
								</td>
							</tr>							
						</table>
					</div>
					<div id="host">
						<p class="item">로그인정보</p>
						<table class="writeTable t01">
							<colgroup>
								<col width="120" />
								<col width="" />
							</colgroup>
							<tr>
								<th>아이디</th>
								<td>
									<div class="form">
										<input type="email" class="inp echeck" id="hostemail"
											name="hostemail" placeholder="아이디(이메일)" /> <button
											type="button"
											class="btnEtc02">중복확인</button>
									</div>
								</td>
							</tr>
							<tr>
								<th>비밀번호</th>
								<td>
									<div class="form">
										<input type="password" id="hostpassword" name="hostpassword"
											class="inp"
											placeholder="8~16자, 영문/숫자/특수문자 중 2가지 이상 조합으로 만들어주세요." />
									</div>
								</td>
							</tr>
							<tr>
								<th>비밀번호 확인</th>
								<td>
									<div class="form">
										<input type="password" id="hostrepassword"
											name="hostrepassword" class="inp"
											placeholder="비밀번호를 한번 더 입력해 주세요." />
									</div>
								</td>
							</tr>
						</table>
						<p class="item">기업정보</p>

						<table class="writeTable t01">
							<colgroup>
								<col width="120" />
								<col width="" />
							</colgroup>
							<tr>
								<th>기업유형</th>
								<td>
									<div class="form">
										<select class="select" id="hostform" name="hostform">
											<option value="">선택하세요</option>
											<option value="1">중앙정부기관</option>
											<option value="2">공기업</option>
											<option value="3">대기업</option>
											<option value="4">신문/방송/언론</option>
											<option value="5">외국계기업</option>
											<option value="6">지방자치단체</option>
											<option value="7">학교/재단/협회</option>
											<option value="8">중소/벤처기업</option>
											<option value="9">학회/비영리단체</option>
											<option value="10">해외</option>
											<option value="11">개인</option>
											<option value="99">기타</option>
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<th>기업명</th>
								<td>
									<div class="form">
										<input type="text" id="hostname" name="hostname" class="inp"
											placeholder="기업명(주최사 또는 스토어명)" />
									</div>
								</td>
							</tr>
							<tr>
								<th>담당자이름</th>
								<td>
									<div class="form">
										<input type="text" id="managername" name="managername"
											class="inp" placeholder="담당자 이름" />
									</div>
								</td>
							</tr>
							<tr>
								<th>담당자 연락처</th>
								<td>
									<div class="form">
										<select class="select w60" id="managercontact01"
											name="managercontact01">
											<option value="">선택</option>
											<option value="010">010</option>
											<option value="011">011</option>
											<option value="016">016</option>
											<option value="017">017</option>
											<option value="019">019</option>
										</select> <span class="etxt">-</span> <input type="text"
											id="managercontact02" name="managercontact02" class="inp w60" />
										<span class="etxt">-</span> <input type="text"
											id="managercontact03" name="managercontact03" class="inp w60" />
									</div>
								</td>
							</tr>
							<tr>
								<th>담당자 이메일</th>
								<td>
									<div class="form">
										<input type="email" id="manageremail" name="manageremail"
											class="inp" placeholder="담당자 이메일" />
									</div>
								</td>
							</tr>
						</table>
					</div>

				</div>
			</div>

			<dl class="myAgreeList">
				<dt>
					<p class="tit">이용약관 내용 동의</p>
					<label for="chkall">전체동의</label> <input type="checkbox" id="chkall" />
				</dt>
				<dd>
					<ul>
						<li><label for="chk_agree01">만14세 이상입니다<span>(필수)</span></label>
							<input type="checkbox" id="chk_agree01" /></li>
						<li class="long"><label for="chk_agree02">전자적 전송매체를
								이용한 광고성 정보의 수신에 동의합니다. (선택)</label> <input type="checkbox"
							id="chk_agree02" /></li>
						<li><label for="chk_agree03">서비스 이용약관 동의<span>(필수)</span></label>
							<a href="/gukminview/siteterms/siteTermView" target="_blank" class="btnAgreeView">내용보기</a>
							<input type="checkbox" id="chk_agree03" /></li>
						<li><label for="chk_agree04">장기 미접속 시 계정 활성 상태 유지
								(선택)</label> <input type="checkbox" id="chk_agree04" /></li>
						<li><label for="chk_agree05">개인정보 수집·이용에 대한 동의<span>(필수)</span></label>
							<a href="/gukminview/siteterms/privacyPolicy" target="_blank"
							class="btnAgreeView">내용보기</a> <input type="checkbox"
							id="chk_agree05" /></li>
					</ul>
				</dd>
			</dl>

			<div class="boardBtnBox">
				<button type="submit" class="btnType03" id="GmemberBtn">동의하고
					가입완료</button>
			</div>

		</div>
	</section>
</form>

<!-- 아이디 중복체크 확인중  -->
<!-- <script th:inline="javascript">
/*<![CDATA[*/

$(document).ready(function(){
	
	$('#idcheck').click(function (){
		
		var idCheck =  /*[[ ${result} ]]*/
		var id = $('#GLoginCd');
		
		if(id.val == "" && idCheck = ""){
			alert('아이디를 입력해주세요')
			id.focus();
			return false;	
			
		}else if(id.val != ""){
			
			}else if(idCheck != null){
				alert('동일한 아이디가 존재합니다.')
				id.focus();
				return false;
			}
			
		}
		
	});
	
	
});

/*]]>*/

</script> -->


<!-- 회원가입 유효성 검사 -->
<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
		
		$('#GmemberBtn').click(function () {
				
			//회원가입 기본정보 입력
			var idCheck =  /*[[ ${result} ]]*/
			var name = $('#GMemNm');
			var id = $('#GLoginCd');
			var pw = $('#GLoginPw');
			var pwcheck = $('#GLoginPwCheck');
			var phone1 = $('#GPhoneFirst');
			var phone2 = $('#GPhoneMiddle');
			var phone3 = $('#GPhoneLast');
			var addr = $('#GMemAddr');
			var email = $('#GMemEmail');
			var birth1 = $('#GBirthYear');
			var birth2 = $('#GBirthMonth');
			var birth3 = $('#GBirthDay');
			
			//회원가입 동의
			//$("input:checkbox[name=complete_yn]").is(":checked") == true

			var chkAgree01 = $('input:checkbox[id="chk_agree01"]');
			var chkAgree02 = $('input:checkbox[id="chk_agree02"]');
			var chkAgree03 = $('input:checkbox[id="chk_agree03"]');
			
			if(name.val() == ""){
				alert('이름을 입력해주세요')
				name.focus();
				return false;
			}else if(id.val() == ""){
				alert('아이디를 입력해주세요')
				id.focus();
				return false;
			}else if(pw.val() == ""){
				alert('비밀번호를 입력해주세요')
				pw.focus();
				return false;
			}else if(pwcheck.val() != pw.val()){
				alert('비밀번호를 다시 확인해주세요.')
				pwcheck.focus();
				return false;
			}else if(phone1.val() == ""){
				alert('핸드폰 번호 앞번호를 입력해주세요.')
				phone1.focus();
				return false;
			}else if(phone2.val() == ""){
				alert('핸드폰 번호 중간번호를 입력해주세요.')
				phone2.focus();
				return false;
			}else if(phone3.val() == ""){
				alert('핸드폰 번호 마지막번호를 입력해주세요.')
				phone3.focus();
				return false;
			}else if(addr.val() == ""){
				alert('주소를 입력해주세요.')
				addr.focus();
				return false;
			}else if(email.val() == ""){
				alert('이메일을 입력해주세요')
				email.focus();
				return false;
			}else if(birth1.val() == ""){
				alert('생년월일 년도를 입력해주세요')
				birth1.focus();
				return false;
			}else if(birth2.val() == ""){
				alert('생년월일 월을 입력해주세요')
				birth2.focus();
				return false;
			}else if(birth3.val() == ""){
				alert('생년월일 일자를 입력해주세요')
				birth3.focus();
				return false;
			}else if(chkAgree01.is(":checked") == false){
				alert('필수 이용약관을 선택해주세요')
				birth3.focus();
				return false;
			}else if(chkAgree02.is(":checked") == false){
				alert('서비스 동의 약관을 선택해주세요.')
				birth3.focus();
				return false;
			}else if(chkAgree03.is(":checked") == false){
				alert('개인정보 수집을 선택해주세요.')
				birth3.focus();
				return false;
			}
			
			
		});
				
		
	});
	/*]]>*/

</script>

<!-- 다움 우편번호 서비스 API -->
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
function address_execDaumPostcode() {
	new daum.Postcode(
			{
				oncomplete : function(data) {
					var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 도로명 조합형 주소 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== ''
							&& /[동|로|가]$/g
									.test(data.bname)) {
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== ''
							&& data.apartment === 'Y') {
						extraRoadAddr += (extraRoadAddr !== '' ? ', '
								+ data.buildingName
								: data.buildingName);
					}
					// 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraRoadAddr !== '') {
						extraRoadAddr = ' ('
								+ extraRoadAddr
								+ ')';
					}
					// 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
					if (fullRoadAddr !== '') {
						fullRoadAddr += extraRoadAddr;
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					//document.getElementById('postcode').value = data.zonecode; //5자리 새우편번호 사용
					document.getElementById('GMemAddr').value = fullRoadAddr;

					//autoLocation(fullRoadAddr);
				}
			}).open();
}
</script>



</th:block>

</html>