<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
	<meta charset="UTF-8">
	<th:block layout:fragment="customBody">
		<section id="main-content" style="margin: 100px; margin-top: 0px;">
	      <section class="wrapper">
	        <h3><i class="fa fa-angle-right"></i>보유시설리스트</h3>
	        <div class="row">
	          <div class="col-md-12">
	            <div class="content-panel">
	              <h4><i class="fa fa-angle-right"></i>보유시설리스트</h4>
	              <hr>
	              <table class="table">
	                <thead>
						<tr>
							<th style=display:none;>보유시설코드</th>
							<th style=display:none;>위원회코드</th>
							<th>시설명</th>
							<th>시설분류명</th>
							<th>축제명</th>
							<th>시설위치</th>
							<th>시설수량</th>
							<th>담당자명</th>
							<th>마감일자</th>
							<th>마감</th>
							<th>수정</th>
							<th>삭제</th>
						</tr>
	                </thead>
	                <tbody>
						<tr th:each= "fl : ${facilityList}">
							<td th:text= "${fl.staCd}" style=display:none;></td>
							<td th:text= "${fl.comCd}" style=display:none;></td>
							<td th:text= "${fl.staNm}"></td>
							<td th:text= "${fl.catNm}"></td>
							<td th:text= "${fl.festNm}"></td>
							<td th:text= "${fl.staSite}"></td>
							<td th:text= "${fl.staCount}"></td>
							<td th:text= "${fl.comNm2}"></td>
							<td th:text= "${fl.actionDt}"></td>
							<td th:text= "${fl.actionSta}"></td>
							<td>
								<a th:href="@{/facilityUpdate(staCd=${fl.staCd})}">수정</a>
							</td>
							<td>
								<a th:href="@{/facilityDelete}">삭제</a>
							</td>
						</tr>
	                </tbody>
	              </table>
	            </div>
	          </div>
	          <!-- /col-md-12 -->
	          <!-- /col-md-12 -->
	        </div>
	      </section>
	    </section>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>
</html>