<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
	<meta charset="UTF-8">
	<th:block layout:fragment="customBody">
	    <section id="main-content" style="margin: 100px; margin-top: 0px;">
	      <section class="wrapper">
	        <h3><i class="fa fa-angle-right"></i>안전점검후유지보수리스트</h3>
	        <div class="row">
	          <div class="col-md-12">
	            <div class="content-panel">
	              <h4><i class="fa fa-angle-right"></i>안전점검후유지보수리스트</h4>
	              <hr>
	              <table class="table">
	                <thead>
						<tr>
							<th style=display:none;>안전점검후유지보수관리코드</th>
							<th>시설명</th>
							<th>축제명</th>
							<th>점검일자</th>
							<th>점검기관</th>
							<th>점검기관담당자</th>
							<th>지적사항</th>
							<th>재점검일</th>
							<th>점검상태</th>
							<th>보완완료일</th>
							<th>담당자</th>					
							<th>수정</th>
							<th>삭제</th>
							<th>안전점검항목</th>
						</tr>
	                </thead>
	                <tbody>
						<tr th:each="ml : ${MaintenanceList}">
							<td th:text="${ml.maiCd}"style=display:none;></td>
							<td th:text="${ml.staNm}"></td>
							<td th:text="${ml.festNm}"></td>
							<td th:text="${ml.maicheDt}"></td>
							<td th:text="${ml.maiinsIn}"></td>
							<td th:text="${ml.mairesHuman}"></td>
							<td th:text="${ml.maiCad}"></td>
							<td th:text="${ml.mairecDt}"></td>
							<td th:text="${ml.maistaChe}"></td>
							<td th:text="${ml.maisupDt}"></td>
							<td th:text="${ml.comNm2}"></td>
							<td>
								<a th:href="@{/maintenanceUpdate(maiCd=${ml.maiCd})}">수정</a>
							</td>
							<td>
								<a th:href="@{/maintenanceDelete}">삭제</a>
							</td>
							<td>
								<a th:href="@{/checkList(staNm=${ml.staNm})}">안전점검리스트</a>
							</td>
						</tr>
	                </tbody>
	              </table>
	            </div>
	          </div>
	          <!-- /col-md-12 -->
	          <!-- /col-md-12 -->
	        </div>
	      </section>
	    </section>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>
</html>