<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">

	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>축제통합관리시스템</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody" th:with="f = ${facility}">
		시설안전점검후지적관리수정

			<div class="form-panel">
              <div class=" form">		
                <form class="cmxform form-horizontal style-form" id="commentForm" method="post" action="@{/maintenanceUpdate}">
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">시설명</label>
                    <div class="col-lg-5">
                      <input class=" form-control" id="staNm" type="text" name="staNm" th:value="${f.staNm}" readonly="readonly"/>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">축제명</label>
                    <div class="col-lg-5">
                      <input class=" form-control" id="festNm" type="text" name="festNm" th:value="${f.festNm}" readonly="readonly"/>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">점검일자</label>
                    <div class="col-lg-5">
                      <input class=" form-control" id="maicheDt" type="date" name="maicheDt" th:value="${f.maicheDt}"/>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">점검기관</label>
                    <div class="col-lg-5">
                      <input class=" form-control" id="maiinsIn" type="text" name="maiinsIn" th:value="${f.maiinsIn}"/>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">점검기관담당자</label>
                    <div class="col-lg-5">
                      <input class=" form-control" id="mairesHuman" type="text" name="mairesHuman" th:value="${f.mairesHuman}"/>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">지적사항</label>
                    <div class="col-lg-5">
                      <input class=" form-control" id="maiCad" type="text" name="maiCad" th:value="${f.maiCad}"/>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">재점검일</label>
                    <div class="col-lg-5">
                      <input class=" form-control" id="mairecDt" type="date" name="mairecDt" th:value="${f.mairecDt}"/>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">점검상태</label>
                    <div class="col-lg-5">
                      <input class=" form-control" id="maistaChe" type="text" name="maistaChe" th:value="${f.maistaChe}"/>
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">보완완료일</label>
                    <div class="col-lg-5">
                      <input class=" form-control" id="maisupDt" type="date" name="maisupDt" th:value="${f.maisupDt}"/>
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">담당자</label>
                    <div class="col-lg-5">
                      <input class=" form-control" id="comNm2" type="text" name="comNm2" th:value="${f.comNm2}"/>
                    </div>
                  </div>
                   <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-theme" type="submit" value="등록">등록</button>
                      <button class="btn btn-theme04" type="button">취소</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            </th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>